@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.clock__theme {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  padding: .25rem;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px hsla(240, 0%, 100%, 1),
              inset 1px 1px 1px hsla(240, 30%, 86%, 1);
  color: hsl(240, 53%, 49%);
  cursor: pointer;
  transition: .4s;
}

.dark-theme .clock__circle {
  box-shadow: 6px 6px 16px hsla(240, 8%, 12%, 1),
              -6px -6px 16px hsla(240, 8%, 20%, 1),
              inset -6px -6px 16px hsla(240, 8%, 20%, 1),
              inset 6px 6px 12px hsla(240, 8%, 12%, 1);
}

.dark-theme .clock__theme {
  box-shadow: inset -1px -1px 1px hsla(240, 8%, 20%, 1),
              inset 1px 1px 1px hsla(240, 8%, 12%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(240, 24%, 94%);
  color: hsl(240, 12%, 35%);
  transition: .4s;
}

a {
  text-decoration: none;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
}

.clock__container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}

.clock__circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px #FFF,
              6px 6px 16px hsla(240, 30%, 86%, 1),
              inset 6px 6px 16px hsla(240, 30%, 86%, 1),
              inset -6px -6px 16px #FFF;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: hsl(240, 12%, 65%);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: .75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  left: .75rem;
  top: 50%;
}

.clock__rounder {
  width: .75rem;
  height: .75rem;
  background-color: hsl(240, 53%, 49%);
  border-radius: 50%;
  border: 2px solid hsl(240, 24%, 94%);
  z-index: 10;
}

.clock__hour,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 105px;
}

.clock__hour::before {
  content: '';
  position: absolute;
  background-color: hsl(240, 12%, 35%);
  width: .25rem;
  height: 3rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__minutes {
  width: 136px;
  height: 136px;
}

.clock__minutes::before {
  content: '';
  position: absolute;
  background-color: hsl(240, 12%, 35%);
  width: .25rem;
  height: 4rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__seconds {
  width: 130px;
  height: 130px;
}

.clock__seconds::before {
  content: '';
  position: absolute;
  background-color: hsl(240, 53%, 49%);
  width: .125rem;
  height: 5rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__logo {
  width: max-content;
  justify-self: center;
  margin-bottom: 2.5rem;
  font-size: .75rem;
  font-weight: 500;
  color: hsl(240, 12%, 65%);
  transition: .3s;
}

.clock__logo:hover {
  color: hsl(240, 53%, 49%);
}

.clock__text {
  display: flex;
  justify-content: center;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: 3rem;
  font-weight: 500;
  color: hsl(240, 53%, 15%);
}

.clock__text-ampm {
  font-size: .625rem;
  color: hsl(240, 53%, 15%);
  font-weight: 500;
  margin-left: .25rem;
}

.clock__date {
  text-align: center;
  font-size: .813rem;
  font-weight: 500;
}

@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .clock__logo {
    margin-bottom: 3rem;
  }
}
